body {
  font-family:"kollektif", sans-serif;
  src: local("used/Kollektif.ttf")
}



@media (min-width:360px){
/* slide1*/
.slide1 {
      background: url(used/amigogif_bien.gif) center 0 no-repeat fixed;
      background-size:50%;
      background-position: center;
      display:flex;
      align-items: flex-end;
      justify-content:center;
      height:1000px;
}
.imgarrow{
  max-width: 10%;
  height:auto;
  position: fixed;
  z-index: -5;

}




/* slide2 */
 .slide2{
   background: url(used/friends_color.jpg) center 0 no-repeat fixed;
   background-size: cover;
   height:900px;
   width: 100%;
   }
.slide2 p{
  font-size: 8em;
  color: white;
  font-weight: bold;
  padding-left: 15%;
  padding-top:10%;
}
.slide2 p underline{
  border-bottom: 0.05em solid white;
  padding-bottom: .2em;
}
.mockup2{
  margin-left: 65%;
  margin-top:-42%;
  position: absolute;
}



/*slide3*/
.slide3{
  background-color:#5CDAD7;
  }
.slide3 img{
width: 5%;
height: auto;
padding:2%;
}
.texte{
  margin-left:8%;
  margin-top: -4%;
  color:white;
  font-size: 2.3em;
  width:44%;
  text-align: center;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
.quot2{
  margin-left: 30%;
  margin-top: -2%;
}



/*Slide4*/
.slide4{
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.titre4{
  margin-top:10%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
}
.titre4 p{
  z-index: 10;
}
.rectanglerose{
  position: absolute;
  width: 30.5%;
  height: 13%;
  background-color:#ff3e81;
  border-radius: 8px;
  z-index:1;
  margin-left: 0.3%;
  margin-top: 0.3%;
}
.rectangleblanc{
  position:absolute;
  width:28%;
  height: 10%;
  background-color: white;
  border-radius: 8px;
  z-index: 2;
}
.content4{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  z-index: 1;
}
.liste{
  display:flex;
  flex-direction: column;
  margin-left: -10%;
  width:50%;
  margin-top:7%;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
.liste span{
  font-size:2em;
}
.liste div{
  font-size: 2.6em;
}
.quarun{
  margin-top: 15%;
}
.quarde{
  margin-top:5%;
  margin-left:26%;
}
.quartr{
  margin-top:5%;
  margin-left:13%;
}
.quarqu{
  margin-top:5%;
  margin-left:26%;
}
.quarci{
  margin-top:5%;
}
.mockup{
  margin-top:7%;
}
/*Slide4*/

/* Bulles */
.b1{
  position: absolute;
  margin-top: -84%;
  margin-left:79%;
  z-index: 4;
}
.b2{
  position: absolute;
  margin-top:-80.3%;
  margin-left:7%;
  z-index: 0;
  height: 50px;
}
.b3{
  position: absolute;
  margin-top: -74%;
  margin-left:40%;
  height:60px;
}
.b4{
  position:absolute;
  margin-top:-63%;
  margin-left:57%;
  height:120px;
}
.b5{
  position:absolute;
  margin-top:-67%;
  margin-left:7%;
  height:400px;
}
.b6{
  position: absolute;
  margin-top:-35%;
  margin-left:-3%;
}
.b7{
  position:absolute;
  margin-top:-40%;
  margin-left:45%;
  height:100px;
}
.b8{
  position:absolute;
  margin-top:-53%;
  margin-left:75%;
  height:450px;
}
.b9{
  position:absolute;
  margin-top:-10%;
  margin-left:75%;
}
.b10{
  position:absolute;
  margin-top:-20%;
  margin-left:47%;
}
.b11{
  position:absolute;
  margin-top:-3%;
  margin-left:23%;
}








.pub{
  display:flex;
  justify-content: space-between;
  height: 820px;
}
.rdv{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  width:50%;
}
.rdv p{
  color: #9978fb;
  font-size:4em;
  font-weight: bold;
  margin-left:-20%;
}
.telephone{
  position:absolute;
  margin-left:36%;
  margin-top:-2%;
}
.telephone img{
  height:900px;
}
.links{
  background-color:#9978fb;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:50%;
}
.links img{
  width:500px;
  padding:5px;  
  margin-left:20%; 
}
.margin{
  margin-top:10%;
}
.dl{
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:10%;
}































.photosno{
  position: absolute;
  display:flex;
  justify-content: space-around;
  width:100%;
  margin-left:-5.2%;
  }
.photosno img{
  position:absolute;
  height: 200px;
  width: 200px;
  z-index:2; 
}


/*Slide5*/
.slide5{
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.slide5title{
  height:400px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
}
.slide5title p{
  z-index: 10;
}
.rectangleviolet{
  position: absolute;
  width: 30.5%;
  height: 13%;
  background-color:#9978fb;
  border-radius: 8px;
  z-index:1;
  margin-left: 5px;
  margin-top: 5px;
}
.rectangleblanc{
  position:absolute;
  width:28%;
  height: 10%;
  background-color: white;
  border-radius: 8px;
  z-index: 2;
}

.slide5photos{
  display:flex;
  justify-content: space-around;
}
.slide5photos img{
  width:200px;
  height:200px;
  -webkit-transition: opacity 0.8s ease;
  transition:opacity 0.8s ease;
}

.slide5photos .id{
display:flex;
flex-direction: column;
align-items:center;
justify-content: space-between;
height:325px;
font-size:2em;
z-index: 5;

}
.slide5photos img:hover{
  opacity:0;
}
.slide5photos span{
  font-style: italic;
}


.delair{
  width:100%;
  height:175px;
  background-color:white;

}


/*Slide6*/
.slide6 {
background-color:#ecebeb;
display:flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
height: 180px;
}
.slide6 img{
  width: auto;
  height: 80px;
  padding:1%;
}
.txt6{
font-size:3em;
padding:0.5%;
}
.img6{
  width:100%;
  display:flex;
  justify-content: space-evenly;
}
#map{
  width:100%;
  height:500px;

}





.formulaire{
  position:absolute;
  margin-left:50%;
  margin-top:1%;
  height: 45%;
  background-color: white;
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
  width:35%;
  z-index:55;
}
.titrefor{
  font-size:2em;
  margin-top:-170px;
  }
.nomemail{
  display: flex;
  justify-content: space-between;
  margin-top:-150px;
  font-size:2em;
}
.nomemail input{
  border:none;
  border-bottom:2px #9978fb solid;
  margin-left:40px;
  margin-right:40px;
}
.message{
  position:absolute;
  margin-top:50px; 
  font-size:2em;
  margin-left:-20px;
}
textarea{
  resize:none;
  
}
.envoyer{
  margin-top:35%;
  margin-left:30%;
  position: absolute;
  width:auto;
}
input[type=submit]{
  background:white;
  border:none;
  overflow: visible;
}







.footer{
  height:200px;
  width:100%;
  background-color: #5CDAD7;
  color:white;
  font-size:3em;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer img{
  width: 100px;
}






.mobile{
  display:none;
}  
}
@media (max-width:360px){
  #ccphil{display:none;}
  #mobile{
    font-size:2em;
    color:#9978fb;
    text-align: center;
  }
}