body {
	font-family:"kollektif";
}
*{
  padding:0;
  margin:0;
}
::-webkit-scrollbar {
    display: none;
}



/* slide1*/
.slide1 {
      background: url(used/amigogif_bien.gif) center 0 no-repeat fixed;
      background-size:50%;
      background-position: center;
      display:flex;
      align-items: flex-end;
      justify-content:center;
      height:1000px;
}
.imgarrow{
  max-width: 10%;
  height:auto;
  position: fixed;
  z-index: -5;
}




/* slide2 */
 .slide2{
   background: url(used/friends_color.jpg) center 0 no-repeat fixed;
   background-size: cover;

   height:900px;
   width: 100%;
   }
.slide2 p{
  font-size: 8em;
  color: white;
  font-weight: bold;
  padding-left: 15%;
  padding-top:10%;
}
.slide2 p underline{
  border-bottom: 0.05em solid white;
  padding-bottom: .2em;
}
.mockup2{
  margin-left: 65%;
  margin-top:-800px;
  position: absolute;
}



/*slide3*/
.slide3{
  height:600px;
  background-color:#5CDAD7;
  }
.slide3 img{
width: 5%;
height: auto;
padding:2%;
}
.texte{
  margin-left:8%;
  margin-top: -4%;
  color:white;
  font-size: 2.3em;
  width:44%;
  text-align: center;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
.quot2{
  margin-left: 30%;
  margin-top: -2%;
}



/*Slide4*/
.slide4{
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.titre4{
  height:400px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
}
.titre4 p{
  z-index: 10;
}
.rectanglerose{
  position: absolute;
  width: 580px;
  height: 130px;
  background-color:pink;
  border-radius: 8px;
  z-index:0;
  margin-left: 5px;
  margin-top: 5px;
}
.rectangleblanc{
  position:absolute;
  width:550px;
  height: 100px;
  background-color: white;
  border-radius: 8px;
}
.content4{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.liste{
  display:flex;
  flex-direction: column;
  margin-left: -500px;
}
.liste div{
  font-size: 2.6em;
}
.quarun{
  margin-top: 180px;
}

/*Slide5*/
.slide5 {
  background-color:white;
}


.slide5photos{
  display:flex;
  justify-content: space-around;
}
.slide5photos img{
  width:250px;
  height:250px;
}
.slide5photos .id{
display:flex;
flex-direction: column;
align-items:center;
padding-top: 5px;
padding-bottom: 5px;
}


/*Slide6*/
.slide6 {
background-color:#ecebeb;
}
.slide6 img{
  width: auto;
  height: 80px;
  padding:1%;
}
