body {
  font-family:"kollektif", sans-serif;
  src: local("used/Kollektif.ttf")
}



@media (min-width:360px){
/* slide1*/
.slide1 {
      background: url(used/amigogif_bien.gif) center 0 no-repeat fixed;
      background-size:50%;
      background-position: center;
      display:flex;
      align-items: flex-end;
      justify-content:center;
      height:100vh;   /*100vh == 100% hauteur écran */
}
.imgarrow{
  max-width: 10%;
  height:auto;
  position: fixed;
  z-index: -5;

}




/* slide2 */
 .slide2{
   background: url(used/friends_color.jpg) center 0 no-repeat fixed;
   background-size: cover;
   height: 100vh;
   width: 100%;
   }
.slide2 p{
  font-size: 8em;
  color: white;
  font-weight: bold;
  padding-left: 15%;
  padding-top:10%;
}
.slide2 p underline{
  border-bottom: 0.05em solid white;
  padding-bottom: .2em;
}

.mockup2{
  float: right;
  position: relative;
  right: 15%;
  top: -8em;
  /* Plus propre que les margin*/
}



/*slide3*/
.slide3{
  background-color:#5CDAD7;

  padding-left: 10%;/*
  padding-right: 10%;*/
  }
/*En pixel c'est mieux */
.slide3 img{
width: 50px;
height: auto;
  padding: 10px;
}
.texte {

  padding: 40px 0 90px 0;

  width: 44%;
  text-align: center;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
.texte q {
  color: white;
  font-size: 2.3em;
  font-weight: lighter;
}

.quot2 {
  float: right;
  margin-right: 2%;
}
/*
.quot2{
  margin-left: 30%;
  margin-top: -2%;
}
*/



/*Slide4*/
.slide4{
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 200px;
}


.amigo-titre {
  margin: 0 auto;
  display: inline-block;
  padding: 40px 50px 40px 50px;
  border: 10px solid;
  border-radius: 10px;
  background-color: white;
}

.amigo-titre h1 {
  font-size: 4.5em;
  font-weight: bold;
}

.violet-border {
  border-color: blueviolet;
  -webkit-box-shadow: 7px 5px 0px 0px blueviolet;
  -moz-box-shadow: 7px 5px 0px 0px blueviolet;
  box-shadow: 7px 5px 0px 0px blueviolet;
}

.rose-border {
  border-color: #FF3E81;
  -webkit-box-shadow: 7px 5px 0px 0px #FF3E81;
  -moz-box-shadow: 7px 5px 0px 0px #FF3E81;
  box-shadow: 7px 5px 0px 0px #FF3E81;
}


.titre4{
  margin-top:10%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
}
.titre4 p{
  z-index: 10;
}
.rectanglerose{
  position: absolute;
  width: 30.5%;
  height: 13%;
  background-color:#ff3e81;
  border-radius: 8px;
  z-index:1;
  margin-left: 0.3%;
  margin-top: 0.3%;
}
.rectangleblanc{
  position:absolute;
  width:28%;
  height: 10%;
  background-color: white;
  border-radius: 8px;
  z-index: 2;
}
.content4{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  z-index: 1;
}
.liste{
  display:flex;
  flex-direction: column;
  margin-left: -10%;
  width:50%;
  margin-top:7%;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}
.liste span{
  font-size:2em;
}
.liste div{
  font-size: 2.6em;
}
.quarun{
  margin-top: 15%;
}
.quarde{
  margin-top:5%;
  margin-left:26%;
}
.quartr{
  margin-top:5%;
  margin-left:13%;
}
.quarqu{
  margin-top:5%;
  margin-left:26%;
}
.quarci{
  margin-top:5%;
}
.mockup{
  margin-top:7%;
}
/*Slide4*/

/* Bulles */
.b1{
  position: absolute;
  margin-top: -84%;
  margin-left:79%;
  z-index: 4;
}
.b2{
  position: absolute;
  margin-top:-80.3%;
  margin-left:7%;
  z-index: 0;
  height: 50px;
}
.b3{
  position: absolute;
  margin-top: -74%;
  margin-left:40%;
  height:60px;
}
.b4{
  position:absolute;
  margin-top:-63%;
  margin-left:57%;
  height:120px;
}
.b5{
  position:absolute;
  margin-top:-67%;
  margin-left:7%;
  height:400px;
}
.b6{
  position: absolute;
  margin-top:-35%;
  margin-left:-3%;
}
.b7{
  position:absolute;
  margin-top:-40%;
  margin-left:45%;
  height:100px;
}
.b8{
  position:absolute;
  margin-top:-53%;
  margin-left:75%;
  height:450px;
}
.b9{
  position:absolute;
  margin-top:-10%;
  margin-left:75%;
}
.b10{
  position:absolute;
  margin-top:-20%;
  margin-left:47%;
}
.b11{
  position:absolute;
  margin-top:-3%;
  margin-left:23%;
}








.pub{
  display:flex;
  justify-content: space-between;
  height: 100vh;
}
.rdv{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  width:50%;
}
.rdv p{
  color: #9978fb;
  font-size:4em;
  font-weight: bold;
  margin-left:-20%;
}
.telephone{
  position:absolute;
  margin-left:calc(50% - 250px);
  margin-top: calc(50vh - (865px/2));
  width: 500px;
}
.links{
  background-color:#9978fb;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:50%;
}
.links img{
  width:500px;
  padding:5px;  
  margin-left:20%; 
}
.margin{
  margin-top:10%;
}
.dl{
  display:flex;
  flex-direction:column;
  justify-content:center;
  padding:10%;
}


.photosno{
  position: absolute;
  display:flex;
  justify-content: space-around;
  width:100%;
  margin-left:-5.2%;
  }
.photosno img{
  position:absolute;
  height: 200px;
  width: 200px;
  z-index:2; 
}


/*Slide5*/
.slide5{
  padding: 100px 0 ;
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}
.slide5title{
  height:400px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
}
.slide5title p{
  z-index: 10;
}
.rectangleviolet{
  position: absolute;
  width: 30.5%;
  height: 13%;
  background-color:#9978fb;
  border-radius: 8px;
  z-index:1;
  margin-left: 5px;
  margin-top: 5px;
}
.rectangleblanc{
  position:absolute;
  width:28%;
  height: 10%;
  background-color: white;
  border-radius: 8px;
  z-index: 2;
}


.delair{
  width:100%;
  height:175px;
  background-color:white;

}


.equipe-ligne {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 100px;
}
.equipier {
  width: 200px;
}

.equipier h1, .equipier h2{
  text-align: center;
  margin-top: 20px;
}

.equipier h2{
  font-style: italic;
   font-size: 2.5em;
}
  .equipier h1{
   font-size: 3em;
}
.equipier .equipe-img {
  overflow: hidden;
  flex: 1;
  background-size: cover;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin: 20px 0 20px 0;
  transition: 2s all;
}

/*
TODO: Modifier la couleur
 */
  .equipier .equipe-img:not(:hover)::before {
    background-color: #E6126B;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: darken;
    top: 0;
    left: 0;
  }

  .equipier .equipe-img:not(:hover)::after {
    background-color: #2F0E57;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    mix-blend-mode: lighten;
    top: 0;
    left: 0;
  }

/*Slide6*/
.slide6 {
background-color:#ecebeb;
display:flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
height: 180px;
  padding: 30px 0;
}
.slide6 img{
  width: auto;
  height: 80px;
  padding:1%;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
.txt6{
font-size:3em;
padding:0.5%;
}
.img6{
  width:100%;
  display:flex;
  justify-content: space-evenly;
}
#map{
  width:100%;
  height: 600px;
  position: relative;
}


.formulaire{
  width:calc(40% - 100px);
  height: calc(600px - 100px);
  /*top: 20px;*/
  margin-top: 30px;
  right: 100px;

  position: absolute;

  background-color: white;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: flex-start;

  padding: 20px 40px;

  z-index:55;
  -webkit-box-shadow: 4px 4px 33px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 4px 4px 33px 0px rgba(0,0,0,0.3);
  box-shadow: 4px 4px 33px 0px rgba(0,0,0,0.3);
}

.formulaire form {
  width: 100%;
}
.formulaire form .nomemail fieldset, .formulaire form .message fieldset {
  flex: 1;
}

.message {
  margin-top: 40px;
}

.titrefor{
  width: 100%;
  text-align: center;
  font-size:3em;
  margin-bottom: 20px;
  font-weight:bold;
}
.nomemail{
  display: flex;
  justify-content: space-between;

  font-size:2em;
}
.nomemail input, .message textarea{
  border:none;
  border-bottom:2px #9978fb solid;
  width: calc(100% - 40px)
}
.nomemail input:focus, .message textarea:focus{
border-bottom:2px #E6126B solid;
  outline: none;
}
.message{
  font-size:2em;
}
textarea{
  resize:none;
  
}
.envoyer input[type=submit]{
  font-size: 2em;
  color: #E6126B;
  margin: 0 auto;
  display: block;
}
input[type=submit]{
  background:white;
  border:none;
  overflow: visible;
}

.footer{
  height:200px;
  width:100%;
  background-color: #5CDAD7;
  color:white;
  font-size:3em;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer img{
  width: 100px;
}

.mobile{
  display:none;
}  
}
@media (max-width:360px){
  #ccphil{display:none;}
  #mobile{
    font-size:2em;
    color:#9978fb;
    text-align: center;
  }
}